/dist/
/Projet-Pictionnary-Breton/build/
/Projet-Pictionnary-Server-Breton/nbproject/private/
/Projet-Pictionnary-Breton-Client/nbproject/private/
/Projet-Pictionnary-Breton-Client/build/
/Projet-Pictionnary-Breton-Server/nbproject/private/
/Projet-Pictionnary-Breton-Client/dist/
/Projet-Pictionnary-Breton-Drawing/nbproject/private/
/Projet-Pictionnary-Breton-Drawing/build/
/Projet-Pictionnary-Breton-Server/build/
/Projet-Pictionnary-Breton-Server/dist/
/Projet-Pictionnary-Breton-Drawing/dist/
/Projet-Pictionnary-Breton-DrawingFxml/nbproject/private/
/Projet-Pictionnary-Breton-Drawer/nbproject/private/
/Projet-Pictionnary-Breton-Drawer/build/
/Projet-Pictionnary-Breton-Drawer/dist/